* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Microsoft YaHei';
    /* background-color: #fff; */
    background-color: rgb(245, 245, 245);
}

li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

.w {
    width: 1200px;
    margin: 0 auto;
}


/* 顶部 */
.top {
    height: 42px;
    background-color: #333333;
}

.topheader {
    height: 42px;
    background-color: #333333;
}

.topnav {
    float: left;
    background-color: #333333;
}

.topnav ul li {
    float: left;
}

.topnav ul li a {
    display: block;
    height: 42px;
    line-height: 42px;
    padding: 0 6px;
    font-size: 12px;
    color: rgb(164, 176, 164);
    border-right: 1px solid rgb(61, 66, 63);
}

.topnav ul li a:hover {
    color: rgb(255, 255, 255);

}

.topnav2 {
    float: left;
    padding-left: 120px;
    background-color: #333333;
}

.topnav2>ul>li {
    float: left;
}

.topnav2 ul li img {
    width: 25px;
    height: 25px;
}

.topnav2>ul>li>a {
    display: block;
    height: 42px;
    line-height: 42px;
    padding: 0 6px;
    font-size: 12px;
    color: rgb(164, 176, 164);
    border-right: 1px solid rgb(61, 66, 63);
}

.topnav2 ul li a:hover {
    color: rgb(255, 255, 255);
}

.topnav2>ul>li .username:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 103, 0);
}

.topnav2>ul>li>ul {
    position: absolute;
    top: 42px;
    right: 375px;
    height: 0;
    width: 85px;
    font-size: 12px;
    color: rgb(96, 96, 96);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    overflow: hidden;
    transition: 0.4s ease-in-out;
    z-index: 99;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .15);
}

.topnav2>ul>li:hover ul {
    height: 200px;
}

.topnav2>ul>li>ul li a {
    display: block;
    height: 42px;
    line-height: 42px;
    padding: 0 6px;
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.topnav2>ul>li>ul li a:hover {
    color: rgb(255, 103, 0);
}

/* 购物车 */
.top .shop {
    position: relative;
    float: right;
}

.top .shop ul li a {
    display: block;
    height: 42px;
    line-height: 42px;
    font-size: 12px;
    color: rgb(164, 176, 164);
    background-color: rgb(66, 66, 66);
}

.top .shop ul li a img {
    width: 15px;
    color: rgb(164, 176, 164);
}

.top .shop ul li a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 103, 0);
}

.shop>ul>li>ul {
    position: absolute;
    top: 42px;
    right: 0;
    height: 0;
    width: 300px;
    font-size: 12px;
    color: rgb(96, 96, 96);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.8s ease-in-out;
    z-index: 99;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .15);
}

.shop>ul>li:hover ul {
    height: 120px;
}

/* 头部 */
.headerfather {
    width: 100%;
    position: relative;
    background-color: #fff;
}

.header {
    /* position: relative; */
    height: 120px;
    /* background-color: pink; */
    background-color: rgb(255, 255, 255);
}

.header .logo {
    float: left;
    height: 60px;
    width: 170px;
    margin-top: 30px;
}

.header .logo img {
    width: 170px;
    height: 60px;
}

.header .headernav {
    float: left;
    height: 60px;
    margin-top: 30px;
    padding-left: 90px;

}

.header .headernav ul li {
    float: left;
}

.header .headernav ul li a {
    display: block;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    font-size: 14px;
    color: rgb(51, 51, 51);
}

.header .headernav ul li a:hover {
    color: rgb(255, 103, 0);
}

.headernav>ul>li>ul {
    position: absolute;
    top: 120px;
    left: 0;
    z-index: 30;
    height: 0;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s ease-in-out;
}



.headernav>ul>li:hover ul {
    height: 220px;
}

.headernav>ul>li ul li {
    width: 180px;
    height: 200px;
    margin-top: 4px;
    padding: 0 10px;
    text-align: center;
    /* background-color: #ff5000; */
    cursor: pointer;
    border-right: 2px solid rgb(224, 224, 224);
}

.headernav>ul>li ul .lastchild {
    border-right: 0;
}

.headernav>ul>li ul li img {
    width: 160px;
    height: 110px;
}

.headernav>ul>li ul li span {
    height: 40px;
    width: 180px;
    /* background-color: aqua; */
}


/* 搜索框 */

.search {
    float: right;
    margin-top: 30px;
    margin-right: -68px;
    width: 60px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 60px;
    position: relative;
    overflow: hidden;
    transition: .5s;
}

.changeWidth {
    width: 370px;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon::before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid dodgerblue;
    position: absolute;
    transform: translate(-4px, -4px);
}

.icon::after {
    content: '';
    width: 3px;
    height: 12px;
    background-color: dodgerblue;
    transform: translate(6px, 6px) rotate(315deg);
}

.textInput {
    width: 290px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 60px;
}

.textInput input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
}

.clear {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 22%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before {
    content: '';
    width: 1px;
    height: 15px;
    background-color: #999;
    transform: rotate(45deg);
    position: absolute;
}

.clear::after {
    content: '';
    width: 1px;
    height: 15px;
    background-color: #999;
    transform: rotate(315deg);
}

#go {
    width: 12%;
    height: 60%;
    position: absolute;
    top: 20%;
    right: 0;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    background: linear-gradient(skyblue, dodgerblue);
}

#go:hover {
    cursor: pointer;
    background: rgb(255, 106, 0);
}

/* 首页//个人中心 */
.blank {
    padding: 10px 0px;
    font-size: 14px;
    color: #757575;
}

.blank a {
    color: #757575;
}

.blank a:hover {
    color: rgb(255, 106, 0);
}

.leftnav {
    padding: 0px 0px;
    padding-right: 15px;
}

.right {
    background-color: #fff;
    padding-left: 40px;
}

.user-card {
    position: relative;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.user-card .img {
    position: relative;
}

.user-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    width: 160px;
}

.user-card h2,
.user-card p,
.user-card a {
    padding: 20px 200px;
}

.user-card h2 {
    padding-bottom: 10px;
}

.user-card a {
    color: rgb(255, 106, 0);
}

.user-card ul {
    position: absolute;
    top: 25%;
    left: 60%;
}

.user-card ul li {
    padding: 5px 10px;
}

.action ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action ul li {
    padding: 20px 20px;
}

.action ul li h2 {
    font-size: 18px;
}

.action ul li h2 span {
    color: rgb(255, 106, 0);
}

.action ul li p a:hover {
    color: rgb(255, 106, 0);
}

/* 底部 */
/* 底部 */
/* .bottom {
    height: 325px;
    background-color: rgb(250, 250, 250);
}

.bottom img {
    height: 250px;
    padding-left: 100px;
    padding-top: 30px;
} */
.bottom {
    display: flex;
    flex-direction: column;
    /* height: 400px; */
    margin-top: 20px;
    background-color: #fff;
}

.footer-service {
    background-color: #fff;
}

.footer-service ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #e0e0e0;
}

.footer-service ul li {
    height: 50px;
    line-height: 50px;
    padding: 10px 60px;
    font-size: 18px;
    /* background-color: #ff5000; */
    border-right: 1px solid #e0e0e0;
}

.footer-service ul li a {
    color: #616161;
}

.footer-service ul li a:hover {
    color: #ff9a6f;
}

.footer-service ul li:nth-last-child(1) {
    border-right: 0;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    padding-top: 20px;
}

.footer-links dl {
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.footer-links dl dt {
    color: black;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
}

.footer-links dl dd {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}

.footer-links dl dd a {
    color: #757575;
}

.footer-links dl dd a:hover {
    color: #ff9a6f;
}

.footer-bottom {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 14px;
}

.footer-bottom #one {
    color: #999;
    padding-bottom: 10px;
}

.footer-bottom #two a {
    color: #333;
}

.footer-bottom #two a:hover {
    color: #ff9a6f;
}

/* 页面固定定位 */
.house {
    position: fixed;
    right: 2px;
    top: 20%;
    z-index: 99;
}

.ad {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 90px;
    border: 1px solid rgb(191, 191, 191);
    background-color: #fff;
    border-radius: 14px;
    border-bottom: none;
    transition: .2s;
}

.ad5,
.ad6 {
    border-bottom: 1px solid rgb(191, 191, 191);
}

.ad:hover {
    color: rgb(255, 154, 111);
    transform: scale(.8);
    border-bottom: 1px solid rgb(191, 191, 191);
}


.ad .img img {
    width: 30px;
    height: 30px;
}

.ad .f {
    font-size: 14px;
}